{% extends "movies/header.html" %}

{% block content %}
<div class="container py-5">
    <div class="jumbotron" style="height: 500px;">
        <h1 class="font-italic">"{{ movie.title }}"</h1>
        <img src="{{ movie.poster.url }}" alt="Movie poster" style="width: 15%; float: right;">
        {% if movie.avg_rating %}
        <h2>Rating by Cookie users: <mark>{{ movie.avg_rating }}/10</mark></h2>
        <p class="text-info">Total number of ratings: {{ number_of_ratings }}</p>
        {% else %}
        <h2 class="text-info">The movie was not rated by anyone yet</h2>
        {% endif %}
        <p><strong>Release date:</strong> {{ movie.release_date }}</p>
        <p><strong>Country: </strong> {{ movie.get_country_display }}</p>
        <p><strong>Directed by:</strong>
            <a href="{% url 'movies:director-page' movie.director.slugged_name %}">{{movie.director }}</a>
        </p>
        <p>
            <strong>Starring:</strong>
            {% for actor in movie.actors.all %}
            <a href="{% url 'movies:actor-page' actor.slugged_name %}">{{ actor }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p>
            <strong>Genres:</strong>
            {% for genre in movie.genres.all %}
            <a href="{% url 'movies:genre-movies' genre.slug %}">{{ genre }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <a href="{% url 'movies:review-list' movie.id %}">Check out reviews of this movie</a>
    </div>
    <div class="container p-3 my-3 bg-primary text-white">
        <h3>Synopsis of the movie:</h3>
        {{ movie.synopsis }}
    </div>
    <div class="container p-3 my-3 border">
        {% if rating %}
        <p class="font-weight-bold">Your rating of the movie: <mark>{{ rating.rating }}/10</mark></p>
        <div class="btn-group">
            <a href="{% url 'movies:rate-movie-update' movie.id %}" class="btn btn-primary">
                Update your rating
            </a>
            <form action="{% url 'movies:rate-movie-delete' movie.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger">Delete your rating</button>
            </form>
        </div>
        {% else %}
        <a href="{% url 'movies:rate-movie' movie.id %}" class="btn btn-primary">Rate this movie</a>
        {% endif %}
    </div>
    <!-- {% if rating %}
    <div>
        <p>You rated this movie as <strong>{{ rating.rating }} out of 10</strong></p>
        <a href="{% url 'movies:rate-movie-update' movie.id %}">Update your rating</a>
        <form action="{% url 'movies:rate-movie-delete' movie.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Delete your rating</button>
        </form>
    </div>
    {% else %}
    <div>
        <a href="{% url 'movies:rate-movie' movie.id %}">Rate this movie</a>
    </div>
    {% endif %}
    <a href="{% url 'movies:review-list' movie.id %}">Check out reviews of this movie</a> -->
</div>
{% endblock %}